* {
    padding: 0px;
    margin: 0px;
}

header{
    background-color: #FFFDD0;    
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.header_img {
    flex: 1;
    display: flex;
    justify-content: center;
}
header img {
    width: 80px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 20px;
    flex: 1;
}

a{
    color: #E49B0F;
    text-decoration: none;
}

.section {
    background-color: #FFFDD0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.s_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 600px;
}


#volcano{
    width: 600px;
}

#header_one {
    color: #DAA520;
    font-size: 30px;
}

.text {
    color: #36454F;
}

button {
    background-color: #DAA520;
    border: none;
    font-size: 15px;
    padding: 12px 30px;
}

button a{
    text-decoration: none;
    color: #36454F;
}